body {
    background-image: url("images/watercolor.jpg");
    background-color: bisque;
    background-image: center;
    margin: 100%;
    color: black;
}
.nameandnav {
    display: flex;
}

.headername {
    margin-right:auto;
}