body {
    background-image: url("images/watercolor.jpg");
    background-color: bisque;
    background-image: center;
    color: black;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main, nav {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 12px;
}

main, aside {
    display: flex;
}

.aboutme {
    background-color: white;
}

header, footer {
    background-color: rgb(255, 192, 228);
    padding: 24px 0;
}

header {
    border-bottom: 8px dashed gray;
}

nav{
    display: flex;
}

.logo, .link {
    color: white;
    font-size: 25px;
}

.logo {
    margin-right: auto;
}

.link {
    margin: 0 4px;
}

h1{
    font-size: 30px;
    border-bottom: 5px dotted lightpink;
}
img {
    float: left;
    margin-right: 5px;
}

aside {
    margin-left: 20px;
    background-color: pink;
    padding: 5px;
    text-align: center;
    font-size: 25px;
    border: 5px dotted black;
    max-height: fit-content;
    flex-direction: column;
}

footer {
    color: white;
    text-align: center;
    margin-top: auto;
}